h1 {margin-bottom:0em;}
h2 {color:#456476;font-size:1.5em;margin-top:1em;}
h3 {color:#000;font-size:1.2em;}

#about-top, #about-text{
margin:2em auto;
text-align:left;
}

#about-top{
background:#BCD8E0;
border:10px #396579 solid;
text-align:center;
padding:20px;
width:550px;
}

#about-text{
width:590px;
}

img{
margin-right:18px;
text-align:center;
}